*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	color: #555;
}

h3{
	text-align: center;
	margin-top: 50px;
	font-size: 24px;
}


button{
    width: 100%;
}

.products{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	grid-gap: 50px;
	margin: 50px auto;
	max-width: 1240px;
	padding: 20px;
}

.product{
	padding: 10px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.product img{
	width: 100%;
	display: block;
}

.product .title{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	font-weight: 600;
	text-transform: uppercase;
}

.product .description{
	padding: 0 20px 20px 20px;	
	line-height: 22px;
}

.product .price{
	text-align: center;
	font-weight: 600;
	font-size: 28px;
	color: #9b0b03;
	padding-top: 30px;
	font-family: sans-serif;
	text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.product .cart{
	text-align: center;
	padding: 15px 0;
	margin-top: 40px;
	background-color: #3e628f;
	color: white;
	font-size: 18px;
	cursor: pointer;
}

.product .cart i{
	padding-left: 10px;
}

view-more{
	margin: 0 auto;
	max-width: 1240px;
	padding: 20px;
	text-align: center;
}

.view-more button{
	padding: 10px 25px;
}

/*Modal styles*/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid rgb(35, 168, 46);
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 450px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.modal-header .title {
  font-size: 0.75rem;
  font-weight: bold;
  width: 400px;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  width: 25px;
}

.modal-body {
  padding: 10px 15px;
}

.stockist{
  list-style: none;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

  